@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Pacifico&display=swap');

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
} 
* {
    /* font-family: 'Pacifico', cursive; */
    padding: 0;
    margin: 0;
    color: black;
    box-sizing: border-box;
}

/* Header: START */
/* Top header */
.top-header {
    background: whitesmoke;
    padding: 50px;
    text-align: end;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Courier New', Courier, monospace;
    box-shadow: 0px 3px 3px black;
}
.top-header .logo {
    font-family: 'Fredoka One', cursive;
    font-size: 1.5rem;
    font-weight: 1000;
}

/* Bottom header */
.bottom-header {
    border-bottom: 3px solid black;
    display: flex;
    justify-content: space-between;
    box-shadow: 1px 0px 1px gray;
}
.bottom-header ul {
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}
.bottom-header ul li {
    /* outline: 3px solid cyan; */
    padding: 20px 0px;
}
.bottom-header ul li a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8em;
    font-weight: bolder;
    margin: 0 20px auto;
    text-decoration: none;
    padding-bottom: 5px;
}
.bottom-header ul li a:hover {
    border-bottom: 3px solid black;
}

#blank {
    padding: 0 50px;
}
/* Header: END */

/* Main Body: START */
body {
    background-image: url(./images/3132.jpg);
    background-size: cover;
    /* width: 100vw; */
}

/* Main Top : START */
#main-top {
    padding: 1rem 3.5rem;
    display: grid;
    grid-gap: 1.5rem;
    grid-template-areas: 
    "content content content price-card-1"
    "content content content price-card-2";
}
.price {
    /* outline: 5px solid black;
    background-color: #C9CEBD; */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-family: "Trebuchet MS";
    font-weight: bold;
    font-size: 1.5rem;
}
.price:hover {
    outline: 5px solid white;
    background-color: whitesmoke;
    box-shadow: 5px 5px 10px black, -5px -5px 10px black;
}
.price-card-1 {
    grid-area: price-card-1;

    border: 3px solid black;
}
.price-card-2 {
    grid-area: price-card-2;

    border: 3px solid black;
}
#buy {
    background: black;
    color: whitesmoke;
    text-decoration: none;
    margin: 5px;
    padding: 5px 10px;
}
.content {
    outline: 5px solid white;
    grid-area: content;
    height: 65vh;

    background: url(./images/web-presence-3.jpg);
    background-size: cover;

    font-family: 'Pacifico', cursive;
    font-size: large;
    text-shadow: 2px 2px #ffffff;
    /* color: white; */

    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content:hover {
    box-shadow: 5px 5px 10px black, -5px -5px 10px black;
}
.content button {
    border: 3px solid whitesmoke;
    font-family: Helvetica,sans-serif;
    font-size: large;
    background: rgb(22, 20, 20);
    color: whitesmoke;
    padding: 10px 20px;
    margin-top: 30px;
}
/* Main Top: END */

/* Main Membership : START */
#main-membership {
    border: 5px solid black;
    margin: 0.6rem 3.5rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.membership {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: "Trebuchet MS";
}
.normal-member {
    background: url();
    border-right: 3px solid tomato;
}
.pro-member {
    border-left: 3px solid tomato;
}

/* Main Membership : END */


/* Main Body: END */

/* Footer: START  */
footer {
    margin-bottom: none;
    background: whitesmoke;
    position: absolute;
    bottom: -100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 100px;
    box-shadow: -3px 0px 10px black;
}
footer .logo {
    font-family: 'Fredoka One', cursive;
    font-size: 1.5rem;
    font-weight: 1000;
}
footer .footer-desc {
    width: 50%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
footer .footer-desc .devices p {
    display: inline-flex;
    padding: 0 10px;
}

footer table th,td {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 20px;
}
footer table td #cont-icon {
    padding: 0 10px;
}
/* Footer: END */